<% layout("/layouts/boilerplate") %>
<script>
  let listing = <%- JSON.stringify(listing) %>;
</script>
<div class="card" style="width: 25rem">
  <h5 class="card-title"><%= listing.title %></h5>
  <img src="<%= listing.image.url %>" class="card-img-top" alt="..." />
  <div class="card-body">
    <p class="card-text">owned by <i><%= listing.owner.username %></i></p>
    <p class="card-text"><%= listing.price %></p>
    <p class="card-text"><%= listing.description %></p>
    <p class="card-text"><%= listing.location %></p>
    <p class="card-text"><%= listing.country %></p>
  </div>
</div>
<% if(currUser && listing.owner._id.equals(currUser._id)){ %>
<a href="/listing/edit/<%=listing._id %>">edit_listing</a>
<br /><br />
<form action="/listing/delete/<%=listing._id%>?_method=DELETE" method="POST">
  <button>delete</button>
</form>
<% } %>
<hr />
<% if(currUser){ %>
<h3>leave a review</h3>
<form
  action="/listing/<%=listing._id%>/review"
  method="POST"
  novalidate
  class="needs-validation"
>
  <label for="rating" class="form-label">rating</label>
  <input
    type="range"
    class="form-range"
    min="1"
    max="5"
    id="rating"
    name="rating"
  />
  <div class="mb-3">
    <label for="comment" class="form-label">comment</label>
    <textarea
      class="form-control"
      id="comment"
      rows="3"
      name="comment"
      required
    ></textarea>
    <div class="invalid-feedback">please add comment for review</div>
  </div>
  <button class="btn btn-outline-dark">submit</button>
</form>
<% } %> <% for(review of listing.reviews){ %>
<hr />
<h4>reviews</h4>
<div class="row">
  <div class="card mb-2 col-5 ms-3" style="width: 25rem">
    <div class="card-body">
      <h5 class="card-title">user : @<%= review.author.username %></h5>
      <p class="card-text">comment : <%= review.comments %></p>
      <p class="card-text">Rating : <%= review.rating %></p>
      <form
        action="/listing/<%=listing._id%>/review/<%=review._id%>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-dark btn-sm">delete</button>
      </form>
    </div>
  </div>
</div>
<% } %>
<h3>map</h3>
<div id="map"></div>
<br />
<hr />
<script>
  let mapToken = "<%= process.env.MAPBOX_KEY %>";
  mapboxgl.accessToken = mapToken;
  const map = new mapboxgl.Map({
    container: "map", // container ID
    center: listing.geometry.coordinates, // starting position [lng, lat]. Note that lat must be set between -90 and 90
    zoom: 9, // starting zoom
  });
  const marker = new mapboxgl.Marker({color:"red"})
    .setLngLat(listing.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({offset:25})
    .setHTML(`<h5>${listing.title}</h5><p>Exact location provided after booking</p>`))
    .addTo(map);
</script>
